.WeatherForecast {
  text-align: center;
  margin-top: 20px;
}

.WeatherForecast-Temperature-min {
  opacity: 0.6;
}

.forecast-icon {
  height: 20px;
  width: 20px;
}

.WeatherForecast-day {
  width: 80px; /* adjust as needed */
  text-align: center;
}
